.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: row;
}

.body > div {
    padding: 30px;
}

h3 {
    font-size: 19px;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 17px;
    line-height: 1.3;
}

.info-box {
width: 20%;
box-shadow: 5px 10px 8px #888888;
margin-left: 10px;
    border: 0.2px solid black;
    
}

.data-box {
width: 60%;


}

.links-box {
    width: 20%;
    box-shadow: 5px 10px 8px #888888;
    border: 0.2px solid black;
    margin-right: 10px;
}

.github {
    
background-size: cover;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat; 
}
