.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 28px;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: row;
}

.body > div {
    padding: 30px;
}

h3 {
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

.info-box {
width: 17%
}

.data-box {
width: 66%;
}

.links-box {
    width: 17%;
}

.github {
    background-image: url("https://github.com/ezraschrage/my-state-and-covid/blob/master/src/images/github.png");
    size: 150px;
}