.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body > div {
    padding: 30px;
}

.bottom {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 19px;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 17px;
    line-height: 1.3;
}

.info-box {
    box-shadow: 5px 10px 8px #888888;
    margin-left: 10px;
    border: 0.2px solid black;
}

.bottom > div {
    padding: 20px;
    margin: 30px
}

.data-box {
    font-family: 'Noto Sans JP', sans-serif;

}

.links-box {
    box-shadow: 5px 10px 8px #888888;
    border: 0.2px solid black;
    margin-right: 10px;
}

.icon {
    background-size: cover;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat; 
}

.xAxis {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;

}

.yAxis {
    font-size: 16px;
}

.top {
    display: flex;
    flex-direction: row;
}

p {
    font-family: 'Noto Sans JP', sans-serif;

}

.links-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.state-info {
    display: flex;
    justify-content: space-between;
}

.updated {
    text-decoration: none;
}